Q1. Create one variable containing following type of data: 
(i) string 
(ii) list 
(iii) float 
(iv) tuple

In [35]:
string = "Aditya Raj"
list1 = [1,2,3,4, "name", 2.35]
float = 2.548
tuple ={9,8,7,4,5,6}

In [36]:
string

'Aditya Raj'

In [37]:
list1

[1, 2, 3, 4, 'name', 2.35]

In [11]:
float

[1, 2, 3, 4, 'name', 2.35]

In [12]:
tuple

{4, 5, 6, 7, 8, 9}

Q2. Given are some following variables containing data: 
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’ 
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
(iv) var4 = 1.

In [15]:
var1 = ''
var2 = '[ DS , ML , Python]' 
var3 = [ "DS" , "ML" , "Python" ] 
var4 = 1

In [17]:
type(var1)

str

In [18]:
type(var2)

str

In [19]:
type(var3)

list

In [20]:
type(var4)

int

Q3. Explain the use of the following operators using an example: 
(i) / 
(ii) %  
(iii) // 
(iv) **

In [24]:
# (1) / (Division Operator)
#The / operator is used for division in Python. It performs regular division and returns a 
#floating-point result if at least one of the operands is a float.

a = 10
b = 5
c = a/b
print(c)

2.0

In [25]:
# (2) % (Modulus operator)
#The % operator is used for finding the remainder of a division operation. 
#It returns the remainder when the first operand is divided by the second operand.

a = 10
b = 5
c = a*b
print(c)

50

In [27]:
# (3) // (Floor Division Operator)
#The // operator is used for floor division in Python. 
#It performs integer division and returns the largest integer less than or equal to the result.

a = 7
b = 2
c = a//b
print(c)

3

In [26]:
# (4) ** (Exponentiation Operator)
#The ** operator is used for exponentiation in Python. 
#It raises the first operand to the power of the second operand.


a = 2
b = 5
c = a**b
print(c)

32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [28]:
my_list = [1,2,3, False , 4.5,"mango", 2.1, 4.5, True, "apple"]
for i in my_list:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible.

In [51]:
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

count = 0

while A % B == 0:
    A = A / B
    count += 1

# Check if A is purely divisible by B
if A == 1:
    print(f"{A} is purely divisible by {B}, and it can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")
    print(f"It can be divided {count} times before the remainder.")

Enter the dividend (A): 64
Enter the divisor (B): 2
1.0 is purely divisible by 2, and it can be divided 6 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [45]:
# Create a list of 25 integers
my_list = [12, 6, 8, 15, 9, 10, 27, 4, 21, 30, 14, 18, 7, 5, 22, 33, 2, 25, 36, 11, 42, 3, 16, 20, 24]

# Iterate through the list and check if each element is divisible by 3
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

12 is divisible by 3
6 is divisible by 3
8 is not divisible by 3
15 is divisible by 3
9 is divisible by 3
10 is not divisible by 3
27 is divisible by 3
4 is not divisible by 3
21 is divisible by 3
30 is divisible by 3
14 is not divisible by 3
18 is divisible by 3
7 is not divisible by 3
5 is not divisible by 3
22 is not divisible by 3
33 is divisible by 3
2 is not divisible by 3
25 is not divisible by 3
36 is divisible by 3
11 is not divisible by 3
42 is divisible by 3
3 is divisible by 3
16 is not divisible by 3
20 is not divisible by 3
24 is divisible by 3

 Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property.

In [47]:
#Mutable Data Types
#Mutable data types are those whose values or content can be modified after they are created.
#When you modify a mutable object, you are actually changing the original object, not creating a new one.
#Examples of mutable data types in Python include lists, dictionaries, and sets.

my_list = [1, 2, 3]
my_list.append(4)  # Modifying the list by adding an element
print(my_list)     # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [48]:
#Immutable data types
#Immutable data types are those whose values cannot be changed after they are created.
#When you modify an immutable object, you create a new object with the modified value, leaving the original object unchanged.
#Examples of immutable data types in Python include integers, floats, strings, tuples, and frozensets.

x = 5
y = x + 2  # Creating a new integer with a modified value
print(x)   # Output: 5 (x remains unchanged)
print(y)   # Output: 7 (a new integer is created with the value 7)

5
7